@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

html {
  overflow-y: scroll;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  font-family: Arial, sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.layout-container {
  padding-top: 40px;
  display: flex;
  justify-content: center; /* Center children horizontally */
  /* width: 100%; Ensures the container takes the full width of its parent */
  height: calc(100% - 40px); /* Adjust this value to control the height of the container */
  flex-direction: row;
  flex: 1;
  align-items: flex-start;
}

.side-container {
  flex: 1;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  flex-direction: column;
}

.grid {
  align-items: center; /* Align grid to the top of the container */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid-item img {
  width: 100%; /* Make image responsive */
  height: auto; /* Maintain aspect ratio */
}

.grid-item span {
  display: block;
}

.button {
  width: 200px;
  padding: 10px;
  margin: 10px 0px;
  color: white;
  background-color: #3B82F6;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally in the cross axis */
  justify-content: center; /* Center children vertically in the main axis */
}

.text-page-container {
  padding-bottom: 30px;
  max-width: 50%; /* Adjust this value to control the width of the content area */
  margin: 20px auto; /* Adds some top and bottom margin for spacing, and auto margins on the sides for centering */
}

.text-page-container img {
  display: block; /* Makes the image block-level for margin auto to work */
  margin: 0 auto; /* Centers the image horizontally */
  max-width: 100%; /* Ensures the image is responsive and fits within the container */
}

.active {
  background-color: #4CAF50; /* Green */
  color: white;
}