body {
    font-family: Arial, sans-serif;
    /* background-image: url('image.JPG'); Replace with the path to your image */
    /* background-repeat: repeat; This allows the image to repeat */
    /* background-size: 100px 100px; */
    position: relative;
    margin: 0;
    padding: 0;
    /* width: 1920; */
    /* height: 1080; */
    height: 100vh;    
  }

.container {
  text-align: center;
  display: flex;          /* Enable Flexbox */
  height: 100vh;          /* Full height of the viewport */
  justify-content: center;/* Center horizontally */
  align-items: center;    /* Center vertically */
  flex-direction: column;
}

.grid {
  display: grid;
  width: 50%;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px; /* spacing between items */
  margin: 30px auto;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid-item img {
  width: 100%; /* make image responsive */
  height: auto;
}

.grid-item span {
  display: block; /* ensures the caption is below the image */
}

.button {
  display: block;
  width: 200px;
  padding: 10px;
  margin: 20px auto;
  text-align: center;
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  text-decoration: none; /* No underline */
  border-radius: 5px; /* Rounded corners */
}